.cell-container {
  width: 100px;
  height: 100px;
  display: block;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: white;
}

.selectable {
}

.selectable:hover {
  border: 5px solid blue;
  cursor: pointer;
}

.icon-circle {
  width: 50px !important;
  height: 50px;
  color: green;
}

.icon-cross {
  width: 50px !important;
  height: 50px;
  color: red;
}
